* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

/* nav section */

nav {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

label.logo {
    color: #131318;
    font-family: 'Mulish';
    font-size: 36px;
    font-weight: 800;
    padding: 0 100px;
    /* line-height: 80px; */
    display: flex;
    padding-top: 50px;
}

label img {
    max-width: 48px;
}


label .explore {
    color: #FF5400;
}

nav ul {
    float: right;
    margin-right: 73px;
    margin-top: 50px;

}

nav li {
    display: inline-block;
    margin: 0 8px;
    /* line-height: 80px; */
}

nav .place {
    color: #FF5400;
    text-align: center;
    font-family: 'Mulish';
    font-size: 18px;
    font-weight: 700;

}

nav a {
    color: var(--Dark-02, #424247);
    text-align: center;
    font-family: 'Mulish';
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;

}

nav #icon {
    font-size: 20px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    margin-right: 40px;
    padding-top: 50px;
}

.banner-section {
    display: flex;
    /* align-items: center; */
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 50px;

}

.banner-img {
    width: 100%;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    padding: 100px;
    backface-visibility: hidden;
    background-size: cover;

}

.banner-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.banner-title {
    color: #FFF;
    font-family: 'Mulish';
    font-size: 50px;
    font-weight: 800;
}

.banner-description {
    color: #FFF;
    text-align: center;
    font-family: 'Mulish';
    font-size: 12px;
    padding-top: 4px;
    font-weight: 400;
}

.form {
    display: flex;
    gap: 5px;
    /* padding-top: 20px;
    padding-bottom: 20px; */
    padding: 20px 0px;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 40px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);

}

.form input {
    padding: 10px 10px;
    border-radius: 8px;
    border: none;
}

 .button{
    color: white;
    background-color: #FF5400;
    padding: 10px 40px;
    border-radius: 8px;
   display: flex;
   gap: 10px;
   border: none;
   align-items: center;
    

}

.option {
    padding: 10px 40px;
    border-radius: 8px;


}
